.topnav {
  overflow: hidden;
  background-color:rgb(117, 177, 223);
}

.topnav a {
  float: left;
  display: block;
  color: #040404;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(79, 111, 215);
  color: black;
}

.topnav a.active {
  _background-color: #4CAF50;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

.innen
{
	display:none;
}

.topnav:hover .innen
{
	display:block;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}